html,
body {
  padding: 0;
  margin: 0;
}

html {
  min-width: 1200px;
}

body {
  line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  text-size-adjust: none;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
strong,
span,
ul {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
